{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr class="table-active">
      <th scope="row"><h1>{{category.name}}</h1></th>
      <td>{{category.description | raw}}</td>
      <td><a href="{{ path('edit_c', {'id':category.id}) }}" class="btn btn-danger">Modifier</a></td>
      <td><a href="{{ path('delete_c', {'id':category.id}) }}" class="btn btn-primary">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}